apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-deploy
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product
  template:
    metadata:
      labels:
        app: product
    spec:
      containers:
        - name: product
          image: faithwairimu/product-service:1.0.0
          ports:
            - containerPort: 3000
